  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Itim&family=Sriracha&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    caret-color: transparent;
  }

  body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    text-align: center;
  }

  .container {
    max-width: 1200px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
  }


  #about {
    height: 100vh;
    background: rgb(74, 82, 152);
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.628) 0%, rgb(89, 43, 255) 80%);
  }

  #navbar {
    background-color: #391a3a72;
    color: #fff;
    padding: 0rem 3rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
  }

  #navbar ul {
    list-style: none;
    display: flex;
  }

  #navbar ul a {
    font-family: cursive;
    display: inline-block;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
  }

  #navbar ul a:hover {
      background-color: #391a3a72;
    color: rgb(255, 255, 255);
  }

  #about .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .typewriter{
    overflow: hidden;
    white-space: nowrap;
    animation: 
      typing 2s steps(40,end),
      blink-caret .5s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  #title {
      font-family: "Lucida Handwriting", "Courier New", cursive;
    color: #fff;
    font-size: 5rem;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .lead {
      font-family: cursive;
    font-size: 2rem;
    color: #eee;
    font-weight: 100;
  }

  #caption {
    color: rgb(240, 248, 255);
  }

  #projects {
    text-align: center;
    width: 100%;
    padding: 7rem .1rem;
    background-color: #343434;
  }

  #projects .projects {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    margin-top: 2rem;
  }

  #projects .container>h1 {
    font-size: 2.6rem;
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: .6rem;
    line-height: 1.2;
  }

  #bottom-line {
    height: 6px;
    background-color: #fff;
    width: 55%;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
  }

  #projects .projects .box {
    background-color: #eee;
    border: 5px solid #eee;
    border-radius: 10px;
  }

  #projects .projects .box a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
  }


  .code {
    color: #eee;
    transition: .5s all ease;
    font-size: 1.6rem;
  }

  #projects .projects .box:hover .code {
    color: #391a3a72;
  }

  .project-des h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .project-des {
    margin: 0px 0;
    padding: 30px  ;
    padding-top: 8%;
    background-color: rgb(89, 43, 255);
    font-family: 'IBM rgb(255, 160, 17)ns Thai Looped', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Sriracha', cursive;
    font-size: 1.5rem;
    color: #eee;
    font-weight: 100; 
  }


  .demo {
    margin: 0px 0;
    padding: 30px  ;
    padding: 6%;
    height: 1000px;
    background-color: rgb(89, 43, 255);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Sriracha', cursive;
    font-size: 1.5rem;
    color: #eee;
    font-weight: 100; 
  }

  .demo h3{
    text-align: center;
    font-size: 3rem;
  }

  .youtube_frame{
    padding: 20px;
    border-radius: 40px;
    border-color: transparent;
    height: 700px;
    width: 60%;
  }
  #contact {
    background: rgb(0,20,255);
    background: linear-gradient(353deg, rgba(0,20,255,1) 0%, rgba(57,26,58,1) 93%); 
    height: 80vh;
    color: #fff;
  }
  
  #contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  #contact .container h1 {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Sriracha', cursive;
    font-size: 3.4rem;
    font-weight: bolder;
    padding-bottom: .1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  #contact .container p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  
  #contact .container .social>div a {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Sriracha', cursive;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #eee;
    margin: 1rem 2rem;
    font-weight: bolder;
    transition: transform .5s;
  }

  .profile-img{
    object-fit: cover;
  }

  #members h3{
    padding-top: 6%;
    font-size: 40px;
    margin: auto;
  }

  .profile-img{
    border-radius: 10px;
  }

  .column{
    padding: 20px;
  }
